html {
    background-color: lightblue;
}
.p_speicher {
    font-family: Arial;
    margin-left: 100px;
    text-decoration: underline;
    font-size: 16px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: auto;
    border: 2px solid #ccc;
    display: inline-block;
}
td {
    border: 2px solid #dddddd;
    text-align: left;
    padding: 3px;
    background-color: white;
}
th {
    font-weight: bold;
    border: 2px solid #dddddd;
    text-align: center;
    padding: 3px;
    background-color: white;
    width: fit-content;
}
body {
    font-family: Arial;
    font-size: 10pt;
    font-weight: bold;
}
.table-header {
    width: 50px;
    font-weight: bold;
}

/*Button-Style*/
.button {
    border: solid;
    color: white;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 2px 2px;
    cursor: pointer;
    border-radius: 12px;
    width: 250px;
    border-color: lightslategray;
}
.buttonCreate{
    background-color: #4caf50;
}
.buttonDelete{
    background-color: #f44336;
}
.buttonPrint{
    background-color: gray;
}
.buttonSnapshot{
    background-color: #3399ff;
}

/*Dropdown-Menüs*/
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: lightblue;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    cursor: pointer;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content a {
    color: white;
    display: block;
    padding: 9px 12px;
    margin: 2px;
    text-decoration: none;
    background-color: #f44336;
    border-radius: 12px;
}
.dropdown-content button:hover{
    cursor: pointer;
    filter:brightness(90%);
}

/*Inhalt beim Drucken verstecken*/
.print-hidden {
    display: none !important; 
}

/*Snapshot-Liste*/
ul {
    background: #3399ff;
    padding: 10px;
    width: 250px;
    border: 2px solid lightslategray; /* Add a 2px black border around the list */

}
ul li {
    background: #cce5ff;
    color: darkblue;
    margin: 5px;
    list-style-type: none;
    padding: 5px;
}
.icon{
    float: right;
    width: 16px;
    height: 16px;
    cursor: pointer;
}
.listButton {
    position: absolute;
    top: -10px;
    right: 5px;
}

/*Legende*/
fieldset {
    background-color: white;
    margin: 0;
    padding: 0;
    border: 2px solid orange;
    width: 1000px;
  }
  
  fieldset p {
    margin: 1em;
  }
 
  legend {
    color: white;
    background-color: orange;
    float: right;
    padding: 0.2em 1.5em;
    border-bottom-left-radius: 1em;
  }